* {
    margin: 0;
    padding: 0;
}

.linear-gradient {
    width: 50%;
    height: 150px;
    margin: auto;
    background-image: linear-gradient(to right top, orange, red);
}

p {
    position: relative;
    z-index: 1;
    top: 70%;
    left: 35%;
    color: white;
    font-size: 2em;
}

.radial-gradient {
    width: 50%;
    height: 150px;
    margin: auto;
    background-image: radial-gradient(circle, red 10%, orange 15%, green 85%);
}

.conic-gradient {
    width: 50%;
    height: 150px;
    margin: auto;
    background-image: conic-gradient(red 0deg, red 90deg, coral 90deg, coral 180deg, blue 180deg, blue 270deg, rgb(205, 47, 47) 270deg, rgb(199, 37, 37) 360deg);
}